In [1]:
## Data for Business Analytics:

# data - we cannot understand, it is a raw form => once cleaned
# information - start to understand what this is..?
# knowledge - mostly played? after processed

In [2]:
# rows + columns, what looks like dataframe is called data
# call this data

In [3]:
# Data vs Database

# Tables + Relationships + Metadata => Database
# Database (start from tables)

In [4]:
# labels of rows: index
# rows (observations) - index
# variables, attributes - columns

## 0. Data

In [5]:
import pandas as pd

In [7]:
!pip install xlrd

Collecting xlrd
  Downloading xlrd-2.0.2-py2.py3-none-any.whl.metadata (3.5 kB)
Downloading xlrd-2.0.2-py2.py3-none-any.whl (96 kB)
Installing collected packages: xlrd
Successfully installed xlrd-2.0.2

In [9]:
house = pd.read_excel("http://byungwan.com/class/House_Prices.xls")

In [10]:
house.head()

   HomeID   Price  SqFt  Bedrooms  Bathrooms  Offers Brick Neighborhood
0       1  114300  1790         2          2       2    No         East
1       2  114200  2030         4          2       3    No         East
2       3  114800  1740         3          2       1    No         East
3       4   94700  1980         3          2       3    No         East
4       5  119800  2130         3          3       3    No         East

In [12]:
house.shape

(128, 8)

### Types of data
rows - observation unit (day, year .. )
if obs unit is day, month, time : it is called time series data

- cross sectional data (anything but time)
- time series data
- panel data

### Types of variables
- Categorical (data placed in categories)
  - Nominal(no qunatitative relationship) / Ordinal(data ranked)
- Numerical
  - Discrete / Continuous
- Textual

Gender : Categorical (nominal) /
Age : Numerical (interval) /
C.Class : Categorical (Ordinal) /
Discount : Categorical (nominal) /
Visit/Purchase : Numerical (Count) /
Email/SNS : Categorical(Nominal) /
Sales: Numerical

### Dummies
Categorical to numerical