### Neural Network

### 0. Data

In [1]:
import pandas as pd

In [2]:
coupon = pd.read_excel("http://byungwan.com/class/Coupon_Sample.xlsx")
coupon.head()

,CID,Gender,Age,CClass,Discount,Visits,Email,SMS,MStatus,Purchases,Sales
0,1,0,41,2,0,1,0,1,1,1,0.92
1,2,0,41,1,0,0,0,0,0,0,0.00
2,3,0,30,2,0,3,0,0,0,1,1.54
3,4,0,28,2,0,2,0,0,0,2,0.88
4,5,1,24,2,1,5,0,0,0,2,0.53

In [3]:
coupon["Discount"].value_counts()

Discount
0    377
1    122
Name: count, dtype: int64

In [4]:
from sklearn.utils import resample

In [5]:
coupon0 = coupon[coupon["Discount"] == 0]

In [6]:
coupon1 = coupon[coupon["Discount"] == 1]

In [7]:
coupon0_downsample = resample(coupon0, replace=False, n_samples=122, random_state=0)

In [8]:
coupon_downsample = pd.concat([coupon0_downsample, coupon1], axis=0)

In [9]:
coupon_downsample.head()

,CID,Gender,Age,CClass,Discount,Visits,Email,SMS,MStatus,Purchases,Sales
422,424,0,29,2,0,1,0,0,1,1,0.39
190,192,0,33,1,0,0,0,0,0,0,0.00
476,478,0,30,2,0,1,0,0,0,1,0.54
288,290,1,25,2,0,5,0,0,0,1,0.39
359,361,0,35,2,0,8,0,0,0,1,0.58

In [10]:
coupon_downsample["Discount"].value_counts()

Discount
0    122
1    122
Name: count, dtype: int64

In [11]:
y = coupon_downsample.iloc[:, 4]
x = coupon_downsample.iloc[:, [1,2,3,5,6,7,8,9,10]]

In [12]:
x.describe()

,Gender,Age,CClass,Visits,Email,SMS,MStatus,Purchases,Sales
count,244.000000,244.000000,244.000000,244.000000,244.000000,244.000000,244.000000,244.000000,244.000000
mean,0.307377,27.622951,1.827869,3.635246,0.196721,0.250000,0.114754,1.282787,0.633026
std,0.462355,7.634477,0.457091,5.517849,0.398337,0.433903,0.319380,1.202685,0.847804
min,0.000000,12.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,22.000000,2.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.145000
50%,0.000000,26.000000,2.000000,2.000000,0.000000,0.000000,0.000000,1.000000,0.315000
75%,1.000000,32.000000,2.000000,4.000000,0.000000,0.250000,0.000000,2.000000,0.738750
max,1.000000,56.000000,3.000000,52.000000,1.000000,1.000000,1.000000,9.000000,5.209000

In [13]:
from sklearn.preprocessing import StandardScaler

In [14]:
scaler = StandardScaler()

In [15]:
scaler_model = scaler.fit(x)

In [16]:
scaled_x = scaler_model.transform(x)

In [17]:
pd.DataFrame(scaled_x, columns=x.columns)

,Gender,Age,CClass,Visits,Email,SMS,MStatus,Purchases,Sales
0,-0.666173,0.180743,0.377354,-0.478567,-0.494872,-0.577350,2.777460,-0.235613,-0.287243
1,-0.666173,0.705759,-1.814892,-0.660170,-0.494872,-0.577350,-0.360041,-1.068795,-0.748201
2,-0.666173,0.311997,0.377354,-0.478567,-0.494872,-0.577350,-0.360041,-0.235613,-0.109952
3,1.501111,-0.344273,0.377354,0.247843,-0.494872,-0.577350,-0.360041,-0.235613,-0.287243
4,-0.666173,0.968267,0.377354,0.792651,-0.494872,-0.577350,-0.360041,-0.235613,-0.062674
...,...,...,...,...,...,...,...,...,...
239,-0.666173,-0.213019,0.377354,-0.296965,-0.494872,-0.577350,-0.360041,-0.235613,-0.576819
240,-0.666173,-0.606781,0.377354,-0.478567,-0.494872,-0.577350,-0.360041,-0.235613,-0.541361
241,-0.666173,-0.344273,0.377354,-0.478567,-0.494872,-0.577350,-0.360041,-0.235613,-0.624097
242,1.501111,-0.213019,0.377354,-0.478567,2.020726,1.732051,-0.360041,-0.235613,-0.505903
243,-0.666173,-1.263051,0.377354,-0.478567,2.020726,1.732051,-0.360041,-0.235613,-0.576819

In [18]:
pd.DataFrame(scaled_x, columns=x.columns).describe()

,Gender,Age,CClass,Visits,Email,SMS,MStatus,Purchases,Sales
count,2.440000e+02,2.440000e+02,2.440000e+02,2.440000e+02,2.440000e+02,2.440000e+02,2.440000e+02,2.440000e+02,2.440000e+02
mean,-3.822079e-17,8.736181e-17,1.747236e-16,-1.183025e-17,8.008166e-17,-2.912060e-17,-2.184045e-17,-1.456030e-17,1.073822e-16
std,1.002056e+00,1.002056e+00,1.002056e+00,1.002056e+00,1.002056e+00,1.002056e+00,1.002056e+00,1.002056e+00,1.002056e+00
min,-6.661734e-01,-2.050575e+00,-4.007138e+00,-6.601700e-01,-4.948717e-01,-5.773503e-01,-3.600411e-01,-1.068795e+00,-7.482009e-01
25%,-6.661734e-01,-7.380347e-01,3.773538e-01,-4.785674e-01,-4.948717e-01,-5.773503e-01,-3.600411e-01,-2.356129e-01,-5.768191e-01
50%,-6.661734e-01,-2.130188e-01,3.773538e-01,-2.969649e-01,-4.948717e-01,-5.773503e-01,-3.600411e-01,-2.356129e-01,-3.758888e-01
75%,1.501111e+00,5.745052e-01,3.773538e-01,6.624028e-02,-4.948717e-01,0.000000e+00,-3.600411e-01,5.975690e-01,1.249595e-01
max,1.501111e+00,3.724601e+00,2.569599e+00,8.783164e+00,2.020726e+00,1.732051e+00,2.777460e+00,6.429843e+00,5.408540e+00

## 1. ANN

In [19]:
from sklearn.neural_network import MLPClassifier

In [20]:
from sklearn.model_selection import cross_val_score
import numpy as np

In [21]:
nums = list(range(1, 11))
nums

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
for n in nums:
    mlp_n = MLPClassifier(activation='relu', hidden_layer_sizes=(n), max_iter=3000, random_state=0)
    scores = cross_val_score(mlp_n, scaled_x, y, cv=5)
    mean = np.mean(scores)
    print(str(n)+ ": "+ str(mean))

1: 0.5532312925170069
2: 0.7379251700680272
3: 0.7623299319727891
4: 0.7625
5: 0.7789965986394557
6: 0.7746598639455782
7: 0.7913265306122449
8: 0.8035714285714285
9: 0.8035714285714285
10: 0.8280612244897959

In [23]:
# alternative is to chose the highest accuracy score, but the first highest score that is found will be selected
# first time that we can get the highest is 5 nodes

In [24]:
mlp = MLPClassifier(activation='relu', hidden_layer_sizes=(5), max_iter=3000, random_state=0)

In [25]:
mlp_model = mlp.fit(scaled_x, y)

#### 1.1. Evaluation

In [26]:
coupon_test = pd.read_excel("http://byungwan.com/class/Coupon_Test.xlsx")
coupon_test.head()

,CID,Gender,Age,CClass,Discount,Visits,Email,SMS,MStatus,Purchases,Sales
0,1,1,34,2,0,1,1,1,0,1,0.51
1,2,1,23,2,0,12,0,0,0,4,1.72
2,3,1,20,1,0,1,0,0,0,0,0.00
3,4,0,17,1,0,3,0,0,0,0,0.00
4,5,0,16,2,0,3,0,0,1,1,0.37

In [27]:
y_test = coupon_test.iloc[:, 4]
x_test = coupon_test.iloc[:, [1,2,3,5,6,7,8,9,10]]

In [30]:
scaled_x_test = scaler_model.transform(x_test)

In [31]:
y_pred = mlp_model.predict(scaled_x_test)

In [32]:
from sklearn import metrics

In [33]:
metrics.accuracy_score(y_test, y_pred)

0.545

In [ ]:
# why is the accuracy lower on the test set?
'''
posssible reasons: 1) overfitting

2) test data set Discount value counts may be very unbalanced compared to training set

There might be bias from the training data


'''

In [34]:
coupon_test["Discount"].value_counts()

Discount
0    161
1     39
Name: count, dtype: int64

### 1.2 w/o balancing

In [35]:
coupon.head()

,CID,Gender,Age,CClass,Discount,Visits,Email,SMS,MStatus,Purchases,Sales
0,1,0,41,2,0,1,0,1,1,1,0.92
1,2,0,41,1,0,0,0,0,0,0,0.00
2,3,0,30,2,0,3,0,0,0,1,1.54
3,4,0,28,2,0,2,0,0,0,2,0.88
4,5,1,24,2,1,5,0,0,0,2,0.53

In [36]:
y = coupon.iloc[:, 4]
x = coupon.iloc[:, [1,2,3,5,6,7,8,9,10]]

In [37]:
scaler_model = scaler.fit(x)

In [38]:
scaled_x = scaler_model.transform(x)

In [40]:
for n in nums:
    mlp_n = MLPClassifier(activation='relu', hidden_layer_sizes=(n), max_iter=3000, random_state=0)
    scores = cross_val_score(mlp_n, scaled_x, y, cv=5)
    mean = np.mean(scores)
    print(str(n)+": "+ str(mean))

1: 0.7474747474747475
2: 0.8737777777777778
3: 0.7555555555555555
4: 0.8095757575757576
5: 0.8336565656565658
6: 0.7896565656565656
7: 0.8658181818181818
8: 0.8618585858585858
9: 0.8617777777777779
10: 0.8697979797979798

In [41]:
mlp = MLPClassifier(activation='relu', hidden_layer_sizes=(2), max_iter=3000, random_state=0)

In [42]:
mlp_model = mlp.fit(scaled_x, y)

In [43]:
scaled_x_test = scaler_model.transform(x_test)

In [44]:
y_pred = mlp_model.predict(scaled_x_test)

In [45]:
metrics.accuracy_score(y_test, y_pred)

0.76

In [46]:
# Do we always have to balance the data set?
# It depends on the data set and the problem you are trying to solve

# ANN is good for solving complex problems with lots of data, by giving more degrees of freedom
# There is no metrics or statistical number to choose the number of hidden layers and nodes

#### cf. Multiple-hidden layers

In [47]:
mlp2 = MLPClassifier(activation='relu', hidden_layer_sizes=(2,2,2), max_iter=3000, random_state=0)

In [48]:
mlp_model2 = mlp2.fit(scaled_x, y)

In [49]:
y_pred2 = mlp_model2.predict(scaled_x_test)

In [50]:
metrics.accuracy_score(y_test, y_pred2)

0.75

In [ ]:
### project - try regression, decision tree, random forest, neural network and build your own model and get the best accuracy score