## Linear Regression

### 0. Data

In [1]:
import pandas as pd

In [4]:
house = pd.read_excel("http://byungwan.com/class/House_Prices.xls")
house

     HomeID   Price  SqFt  Bedrooms  Bathrooms  Offers Brick Neighborhood
0         1  114300  1790         2          2       2    No         East
1         2  114200  2030         4          2       3    No         East
2         3  114800  1740         3          2       1    No         East
3         4   94700  1980         3          2       3    No         East
4         5  119800  2130         3          3       3    No         East
..      ...     ...   ...       ...        ...     ...   ...          ...
123     124  119700  1900         3          3       3   Yes         East
124     125  147900  2160         4          3       3   Yes         East
125     126  113500  2070         2          2       2    No        North
126     127  149900  2020         3          3       1    No         West
127     128  124600  2250         3          3       4    No        North

[128 rows x 8 columns]

In [6]:
house.head()

   HomeID   Price  SqFt  Bedrooms  Bathrooms  Offers Brick Neighborhood
0       1  114300  1790         2          2       2    No         East
1       2  114200  2030         4          2       3    No         East
2       3  114800  1740         3          2       1    No         East
3       4   94700  1980         3          2       3    No         East
4       5  119800  2130         3          3       3    No         East

In [7]:
house.shape

(128, 8)

In [23]:
# house["Neighborhood"].unique()
# not included in the lecture

In [24]:
house.describe()

,HomeID,Price,SqFt,Bedrooms,Bathrooms,Offers
count,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000
mean,64.500000,130427.343750,2000.937500,3.023438,2.445312,2.578125
std,37.094474,26868.770371,211.572431,0.725951,0.514492,1.069324
min,1.000000,69100.000000,1450.000000,2.000000,2.000000,1.000000
25%,32.750000,111325.000000,1880.000000,3.000000,2.000000,2.000000
50%,64.500000,125950.000000,2000.000000,3.000000,2.000000,3.000000
75%,96.250000,148250.000000,2140.000000,3.000000,3.000000,3.000000
max,128.000000,211200.000000,2590.000000,5.000000,4.000000,6.000000

In [25]:
house.isnull().values.any()

# null is missing value

np.False_

In [27]:
# Data preparation -> change categorical to numerical values
house2 = pd.get_dummies(house, columns = ["Brick","Neighborhood"], drop_first=True, dtype=int)

In [28]:
house2

,HomeID,Price,SqFt,Bedrooms,Bathrooms,Offers,Brick_Yes,Neighborhood_North,Neighborhood_West
0,1,114300,1790,2,2,2,0,0,0
1,2,114200,2030,4,2,3,0,0,0
2,3,114800,1740,3,2,1,0,0,0
3,4,94700,1980,3,2,3,0,0,0
4,5,119800,2130,3,3,3,0,0,0
...,...,...,...,...,...,...,...,...,...
123,124,119700,1900,3,3,3,1,0,0
124,125,147900,2160,4,3,3,1,0,0
125,126,113500,2070,2,2,2,0,1,0
126,127,149900,2020,3,3,1,0,0,1
127,128,124600,2250,3,3,4,0,1,0

In [29]:
house2.describe()

,HomeID,Price,SqFt,Bedrooms,Bathrooms,Offers,Brick_Yes,Neighborhood_North,Neighborhood_West
count,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000
mean,64.500000,130427.343750,2000.937500,3.023438,2.445312,2.578125,0.328125,0.343750,0.304688
std,37.094474,26868.770371,211.572431,0.725951,0.514492,1.069324,0.471376,0.476825,0.462084
min,1.000000,69100.000000,1450.000000,2.000000,2.000000,1.000000,0.000000,0.000000,0.000000
25%,32.750000,111325.000000,1880.000000,3.000000,2.000000,2.000000,0.000000,0.000000,0.000000
50%,64.500000,125950.000000,2000.000000,3.000000,2.000000,3.000000,0.000000,0.000000,0.000000
75%,96.250000,148250.000000,2140.000000,3.000000,3.000000,3.000000,1.000000,1.000000,1.000000
max,128.000000,211200.000000,2590.000000,5.000000,4.000000,6.000000,1.000000,1.000000,1.000000

In [30]:
# Regression analysis - characterize relationships among a dependent variable (y) and one or more independent variables (x)

In [31]:
# Simple : single independent variable
# Multiple : two or more independent variables

### 1. Simple linear Regression

In [32]:
house2.head()

,HomeID,Price,SqFt,Bedrooms,Bathrooms,Offers,Brick_Yes,Neighborhood_North,Neighborhood_West
0,1,114300,1790,2,2,2,0,0,0
1,2,114200,2030,4,2,3,0,0,0
2,3,114800,1740,3,2,1,0,0,0
3,4,94700,1980,3,2,3,0,0,0
4,5,119800,2130,3,3,3,0,0,0

In [34]:
house2.columns.get_loc("Price")
# get the column number

1

In [35]:
house2.columns.get_loc("SqFt")

2

In [39]:
y = house2.iloc[:, 1]
# price is what we use as y variable
# : -> means all rows, column 1

In [40]:
x = house2.iloc[:, 2]

In [41]:
# linear regression can be found at statsmodels.api
import statsmodels.api as sm

In [42]:
reg = sm.OLS(y, x).fit()

In [43]:
print(reg.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                  Price   R-squared (uncentered):                   0.972
Model:                            OLS   Adj. R-squared (uncentered):              0.972
Method:                 Least Squares   F-statistic:                              4390.
Date:                Tue, 23 Sep 2025   Prob (F-statistic):                   2.30e-100
Time:                        11:33:31   Log-Likelihood:                         -1463.3
No. Observations:                 128   AIC:                                      2929.
Df Residuals:                     127   BIC:                                      2932.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
SqFt          65.2384      0.985     66.261      0.000      63.290      67.187
==============================================================================
Omnibus:                        3.626   Durbin-Watson:                   2.130
Prob(Omnibus):                  0.163   Jarque-Bera (JB):                3.637
Skew:                           0.379   Prob(JB):                        0.162
Kurtosis:                       2.673   Cond. No.                         1.00
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [44]:
# Regression analysis finds the equation of the best-fitting line that minimizes the sum of the squares of all the observed errors
# OLS : Ordinary Least Squares

In [48]:
# coef for SqFt is 65.2384 : slope of the linear regression
# beta minimize the sum of square of errors --> OLS