## Support Vector Machine

### 0.Data

In [2]:
import pandas as pd

In [3]:
coupon = pd.read_excel("http://byungwan.com/class/Coupon_Sample.xlsx")
coupon.head()

,CID,Gender,Age,CClass,Discount,Visits,Email,SMS,MStatus,Purchases,Sales
0,1,0,41,2,0,1,0,1,1,1,0.92
1,2,0,41,1,0,0,0,0,0,0,0.00
2,3,0,30,2,0,3,0,0,0,1,1.54
3,4,0,28,2,0,2,0,0,0,2,0.88
4,5,1,24,2,1,5,0,0,0,2,0.53

In [4]:
coupon["Discount"].value_counts()

Discount
0    377
1    122
Name: count, dtype: int64

In [5]:
y = coupon.iloc[:, 4]
# columns except 4th column
x = coupon.iloc[:, [1,2,3,5,6,7,8,9,10]]

### 1. Non-linear SVM

In [6]:
from sklearn.svm import SVC

In [7]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV

In [8]:
params = {"C": [0.001, 0.01, 0.1, 1, 10, 100, 1000],
          "gamma": [0.001, 0.01, 0.1, 1, 10, 100, 1000],
          "kernel": ['rbf','sigmoid']}

In [9]:
grid = GridSearchCV(SVC(), params, cv=5)

In [10]:
grid_model = grid.fit(x,y)

In [11]:
grid_model.best_params_

{'C': 100, 'gamma': 0.01, 'kernel': 'rbf'}

In [12]:
grid_model.best_score_

np.float64(0.8417777777777777)

### 1.1. Best model

In [13]:
svc = SVC(kernel="rbf", C=100, gamma=0.01)

In [14]:
svc_model = svc.fit(x,y)

#### 1.2. Evaluation

In [15]:
coupon_test = pd.read_excel("http://byungwan.com/class/Coupon_Test.xlsx")
coupon_test.head()

,CID,Gender,Age,CClass,Discount,Visits,Email,SMS,MStatus,Purchases,Sales
0,1,1,34,2,0,1,1,1,0,1,0.51
1,2,1,23,2,0,12,0,0,0,4,1.72
2,3,1,20,1,0,1,0,0,0,0,0.00
3,4,0,17,1,0,3,0,0,0,0,0.00
4,5,0,16,2,0,3,0,0,1,1,0.37

In [16]:
coupon.head()

,CID,Gender,Age,CClass,Discount,Visits,Email,SMS,MStatus,Purchases,Sales
0,1,0,41,2,0,1,0,1,1,1,0.92
1,2,0,41,1,0,0,0,0,0,0,0.00
2,3,0,30,2,0,3,0,0,0,1,1.54
3,4,0,28,2,0,2,0,0,0,2,0.88
4,5,1,24,2,1,5,0,0,0,2,0.53

In [17]:
y_test = coupon_test.iloc[:, 4]
x_test = coupon_test.iloc[:, [1,2,3,5,6,7,8,9,10]]

In [18]:
y_pred = svc_model.predict(x_test)

In [19]:
from sklearn import metrics

In [20]:
metrics.accuracy_score(y_test, y_pred)

0.75

### 2. Linear SVM

In [21]:
params = {"C": [0.001, 0.01, 0.1, 1, 10, 100, 1000]}

In [22]:
grid = GridSearchCV(SVC(kernel='linear'), params, cv=5)

In [23]:
grid_model = grid.fit(x,y)

In [24]:
grid_model.best_params_

{'C': 1000}

In [25]:
grid_model.best_score_

np.float64(0.8216767676767676)

In [38]:
lsvm =SVC(kernel='linear', C=0.1)

In [39]:
lsvm_model = lsvm.fit(x,y)

In [40]:
y_pred = lsvm_model.predict(x_test)

In [41]:
metrics.accuracy_score(y_test, y_pred)

0.805